[submodule "MindIE_Server/3rdparty/grpc/grpc"]
	path = mindie_service/server/3rdparty/grpc/grpc
	url = https://gitee.com/src-openeuler/grpc.git
	branch = openEuler-24.03-LTS
[submodule "MindIE_Server/3rdparty/grpc/protobuf"]
	path = mindie_service/server/3rdparty/grpc/protobuf
	url = https://gitee.com/src-openeuler/protobuf.git
	branch = openEuler-24.03-LTS
[submodule "MindIE_Server/3rdparty/grpc/abseil-cpp"]
	path = mindie_service/server/3rdparty/grpc/abseil-cpp
	url = https://gitee.com/src-openeuler/abseil-cpp.git
	branch = openEuler-24.03-LTS
[submodule "MindIE_Server/3rdparty/grpc/re2"]
	path = mindie_service/server/3rdparty/grpc/re2
	url = https://gitee.com/src-openeuler/re2.git
	branch = openEuler-24.03-LTS
[submodule "MindIE_Server/3rdparty/grpc/cares"]
	path = mindie_service/server/3rdparty/grpc/cares
	url = https://gitee.com/src-openeuler/c-ares.git
	branch = openEuler-24.03-LTS
[submodule "MindIE_Server/3rdparty/grpc/zlib"]
	path = mindie_service/server/3rdparty/grpc/zlib
	url = https://gitee.com/src-openeuler/zlib.git
	branch = openEuler-24.03-LTS
[submodule "MindIE_Server/3rdparty/boundscheck/boundscheck"]
	path = mindie_service/server/3rdparty/boundscheck/boundscheck
	url = https://gitee.com/openeuler/libboundscheck.git
	branch = master
[submodule "mindie_service/management_service/open_source/nlohmann"]
	path = mindie_service/management_service/open_source/nlohmann
	url = https://gitee.com/mirrors/JSON-for-Modern-CPP.git
[submodule "mindie_service/management_service/open_source/openssl"]
	path = mindie_service/management_service/open_source/openssl
	url = https://github.com/openssl/openssl.git
[submodule "mindie_service/management_service/open_source/libboundscheck"]
	path = mindie_service/management_service/open_source/libboundscheck
	url = https://gitee.com/openeuler/libboundscheck.git
